/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --primary: #0077b6;
  --light: #2af5ff;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.25rem 3.25rem;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  margin-bottom: 2.25rem;
}
.container a {
  text-decoration: none;
  color: var(--light);
  transition: 0.2s ease;
}
.container a:hover,
.container a:focus {
  outline: none;
  letter-spacing: 0.2rem;
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: var(--light);
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  transition: 0.2s ease;
}
.btn:focus {
  outline: 0;
}
.btn:focus,
.btn:active {
  transform: scale(0.9);
}

.text {
  margin-top: 2.25rem;
}

/* FORM */
.formControl {
  position: relative;
  margin: 1.25rem 0 3.25rem;
  width: 20rem;
}
.formControl input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #fff;
}
.formControl label {
  position: absolute;
  top: 1rem;
  left: 0;
}
/* Effects */
.formControl input:focus,
.formControl input:valid {
  outline: 0;
  border-bottom-color: var(--light);
}
.formControl label span {
  display: inline-block;
  font-size: 1.1rem;
  min-width: 0.25rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.formControl input:focus + label span,
.formControl input:valid + label span {
  color: var(--light);
  transform: translateY(-2.25rem);
}
