/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(102, 51, 153, 0.7);
}

.btn {
  background-color: #4f1f80;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn#left {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn#right {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}